/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**/

html, body, main {
    height: 100%;
    margin: 0;
}

/**/
body {
    color: #333;
    background-color: white;
    line-height: 1;
    overflow-x: hidden;
}


/**/

/*
header nav {
    width: 100%;
	height: 60px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	color: #848484;
	position: fixed;
	z-index: 100;
	background-color: #fff;
	top: 0;
}
*/

nav {
    display: flex;
    align-items: center;
    
}
nav .logo {
    
}

button {
    background-color: #6288a5;
    border: 1px solid #326891;
    color: #fff;
}

nav .nav-btn {
    float: right;
}
/**/
.advert {
    background-color: #f8f8f8;
    border: 1px solid #c5c5c5;
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width:;
}